# Default registry for installation
registry=https://registry.npmjs.org/

# Scoped packages
@tuanle03:registry=https://registry.npmjs.org/

# GitHub Packages (optional)
# @tuanle03:registry=https://npm.pkg.github.com/
